.link-wrap {
  padding-top: 30px;
  padding-left: 40px;
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.date-btn-wrap {
  margin: auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#datetime-picker {
  font-family: 'Roboto', sans-serif;
  min-width: 900px;
  font-size: 60px;
}

.start-btn,
button {
  padding: 8px 12px;
  font-size: 48px;
  cursor: pointer;
  min-width: 300px;
  min-height: 60px;

  display: block;
  border: 2px solid transparent;
  border-radius: 4px;

  color: #11121c;
  background: #eaeaea;
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
    0px 2px 2px rgba(46, 47, 66, 0.16), 0px 2px 3px rgba(46, 47, 66, 0.08);

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.start-btn:is(:focus, :hover) {
  color: white;
  background-color: #363737f0;
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
    0px 2px 2px rgba(46, 47, 66, 0.16), 0px 2px 3px rgba(46, 47, 66, 0.08);
}

.start-btn:active {
  color: rgb(228, 224, 89);
  background-color: #1a1a1af0;
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
    0px 2px 2px rgba(46, 47, 66, 0.16), 0px 2px 3px rgba(46, 47, 66, 0.08);
}

.timer {
  margin: auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-weight: 700;
  font-size: 250px;
  color: rgb(47, 63, 109);
}

span[data-days],
span[data-hours] {
  color: rgb(29, 107, 202);
}

span[data-minutes],
span[data-seconds] {
  color: yellow;
}

.label {
  font-size: 80px;
  color: rgb(200, 200, 200);
}

.isNotActive {
  color: rgb(171, 171, 169);
  background-color: #626161f0;
  box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
    0px 2px 2px rgba(46, 47, 66, 0.16), 0px 2px 3px rgba(46, 47, 66, 0.08);
}
